

<!-- <h1>Welcome to the Hellmouth</h1>
<a href="/articles/:id">Epsiodes</a>
<a href="/articles/:id">Characters</a>
<a href="/articles/:id">Demons</a>
<a href="/articles/:id">Apocolypses</a> -->

<h1 id="welcome">Welcome to the Hellmouth</h1>
<div id="index">
<a href="/episodes">Epsiodes</a>
<a href="/characters">Characters</a>
<a href="/demons">Demons</a>
<a href="/apocolypses">Apocolypses</a>

<a href="/users">Users</a>
<a href="/login">Log In</a>
<a href="/users/new">Sign Up!</a>
</div>