<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BuffyWiki</title>
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <link rel="stylesheet" href="/animate.css">
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  <div class="wrapper">
  	<div id="inOrOut">
  		<% if !@user %>
	<a href="/login" id="indexA">Log In</a>
<% else %>
	<a href="/login" id="indexA">Log Out</a>
<% end %>
  	</div>
    	<%= yield %>
    	<p><a href="/">Home</a></p>
  </div>
</body>
</html>