
<% @articles.each do |article| %>
	<li> 
		<a href="/articles/<%= article.id %>" >
		<%= article.title %></a> 
	</li>

<% end %>

<% if @user %>
	<a href="/articles/new">Add an article</a>
<% end %>
