<div id="login">
<h1>Log in!</h1>
<form method="POST" action="/sessions">
  <label for="name">Username:</label>
  <input type="text" name="name" id="name" placeholder="Your username!">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="Your password">
  <button>Log In</button>
</form>
</div>