<form method="POST" action="/articles" >
	<input type="text" name="title" placeholder="title">
	<input type="text" name="plot" placeholder="plot">
	<input type="text" name="bio" placeholder="bio">
	<input type="text" name="antagonist" placeholder="antagonist">
	<input type="text" name="special_powers" placeholder="special powers">
	<input type="text" name="minions" placeholder="minions">
	<input type="text" name="buffy_quarrel" placeholder="buffy quarrel">
	<input type="text" name="demise" placeholder="demise">
	<input type="text" name="category_id" placeholder="category id">
	<button>Submit Article</button>
</form>




<!-- 	<form action="/users" method="POST">
  
  <input type="text" name="name" placeholder="Username">
  <input type="text" name="age" placeholder="Your age">
  <input type="text" name="location" placeholder="Your location">
  <input type="text" name="avatar_img_url" placeholder="Avatar Image URL!">
  <button>Sign up</button>

</form> -->

