<div class="newForm">
<form method="POST" action="/articles" >
	<input type="text" name="title" id="inputSmall" placeholder="title">
	<br>
	<input type="text" name="plot" id="input" placeholder="plot">
	<br>
	<input type="text" name="bio" id="input" placeholder="bio">
	<br>
	<input type="text" name="antagonist" id="inputSmall" placeholder="antagonist">
	<br>
	<input type="text" name="special_powers" id="input" placeholder="special powers">
	<br>
	<input type="text" name="minions" id="input" placeholder="minions">
	<br>
	<input type="text" name="buffy_quarrel" id="input" placeholder="buffy quarrel">
	<br>
	<input type="text" name="demise" id="input" placeholder="demise">
	<br>
	<input type="text" name="content" id="input" placeholder="quotes">
	<br>
	<input type="text" name="category_id" id="inputSmall" placeholder="category id">
	<button>Submit Article</button>
</form>
</div>




<!-- 	<form action="/users" method="POST">
  
  <input type="text" name="name" placeholder="Username">
  <input type="text" name="age" placeholder="Your age">
  <input type="text" name="location" placeholder="Your location">
  <input type="text" name="avatar_img_url" placeholder="Avatar Image URL!">
  <button>Sign up</button>

</form> -->

