.wrapper {
	background: url(https://monsterpopcorn.files.wordpress.com/2012/05/buffy-1.jpg);
	height: 2000px;
	color: white;
	font-family: helvetica;
	text-align: center;
	position: relative;
}

#welcome {
	font-size: 40px;
}

#detailWrap {
	background: url(https://p.dreamwidth.org/92d38ad5b472/-/pics.livejournal.com/katekat1010/pic/005akbps);
	height: 800px;
	background-size: cover;
}

#details {
	border-color: white;
	background-color: rgba(255, 255, 255, 0.5);
	width: 500px;
	margin-left: 450px;
	text-align: left;
	color: black;
}

#index {
	margin-top: 400px;
}

#login {
	background: url(http://images2.fanpop.com/images/photos/3000000/Willow-Oz-season-3-buffy-the-vampire-slayer-3010338-1000-606.jpg);
	height: 800px;
}

#signup {
	background: url(http://vignette1.wikia.nocookie.net/buffy/images/1/17/Older_and_far_away_.jpg);
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
}

#indexA { 
	border: solid;
	border-width: 2px;
	padding: 5px;
	border-color: white;
	margin-left: 5px;
	margin-right: 5px;
}

#editform {
	
}

#input {
	width: 550px;
	height: 50px;
	background: rgba(255, 255, 255, 0.5);
	color: black;
}

#inputSmall {
	background: rgba(255, 255, 255, 0.5);
	color: black;
}

.newForm {
	color: black;
}

#inOrOut {
	position: absolute;
	left: 15px;
	top: 20px;
}

li {
	color: white;
	font-family: helvetica;
	list-style-type: none;
}

h1 {
	font-size: 24px;
	font-weight: normal;

}

h2 {
	font-size: 20px;
	font-weight: lighter;
}

a {
	font-family: helvetica;
	color: white;
	font-size: 18px;
	text-decoration: none;
}

/*background-size: cover
background-repeat: no-repeat*/
/*html and body should have 100 percent height */




